# データ数を10万→3万程度に減らすコード

In [42]:
import pandas as pd
#データ取得
df = pd.read_csv("../data/train.csv").drop("Unnamed: 0", axis=1).dropna()
#データ分割
eco = df.query('Class == "Eco"')
eco_plus = df.query('Class == "Eco Plus"')
business= df.query('Class == "Business"')
#データ数削減
eco_new = eco.sample(n=11500, random_state=42)
business_new = business.sample(n=11500, random_state=42)
#データを結合
df_new = pd.concat([eco_new, business_new, eco_plus], axis=0)
#クラスの割合を確認
df_new["Class"].value_counts()

# 以下は実施した手順

In [31]:
df = pd.read_csv("../data/train.csv").drop("Unnamed: 0", axis=1).dropna()#.sample(n=10000, random_state=42)
df.head(3)

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,3,...,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,3,...,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,2,2,...,5,4,3,4,4,4,5,0,0.0,satisfied

##　各クラスにデータを分ける

In [33]:
eco = df.query('Class == "Eco"')
eco_plus = df.query('Class == "Eco Plus"')
business= df.query('Class == "Business"')

## データ数を減らす

### Ecoクラス

In [34]:
eco.shape

(46593, 24)

In [35]:
eco = eco.sample(n=11500, random_state=42)
eco.shape

(11500, 24)

### Businessクラス

In [36]:
business.shape

(49533, 24)

In [37]:
business = business.sample(n=11500, random_state=42)
business.shape

(11500, 24)

### Eco plus

In [38]:
eco_plus.shape

(7468, 24)

## データを結合

In [39]:
df_new = pd.concat([eco, business, eco_plus], axis=0)
df_new.shape

(30468, 24)

In [40]:
df_new["Class"].value_counts()

Class
Eco         11500
Business    11500
Eco Plus     7468
Name: count, dtype: int64

In [41]:
df_new.head()

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
85208,123908,Female,Loyal Customer,69,Personal Travel,Eco,546,2,5,2,...,4,4,2,4,4,4,2,0,0.0,neutral or dissatisfied
31633,107130,Male,Loyal Customer,31,Personal Travel,Eco,842,3,5,3,...,1,4,3,5,5,4,1,35,16.0,neutral or dissatisfied
10425,69734,Female,Loyal Customer,62,Personal Travel,Eco,1372,3,4,2,...,1,1,2,1,3,1,4,0,0.0,neutral or dissatisfied
64557,99343,Female,disloyal Customer,41,Business travel,Eco,1771,3,3,3,...,2,4,4,2,3,4,2,20,23.0,neutral or dissatisfied
41909,59999,Female,Loyal Customer,18,Personal Travel,Eco,937,2,5,2,...,1,5,2,2,1,1,1,0,0.0,neutral or dissatisfied